:root {
    --color-green: #2C5243;
    --color-dark-green: #2E3A38;
    --color-light-green: #C3D1BF;
    --color-cream: #F0ECE3;
    --color-yellow: #E5D599;
    --color-orange: #C87041;
    --color-blue: #A8B9C0;
    --color-white: #F5F5F5;
    --color-black: #333333;
  }
  
  body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--color-cream);
    font-family:   "DM Sans",sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
    color: var(--color-dark-green);
    overflow-x: hidden;
  }

  h1{
    color: var(--color-orange);
    font-family: 'regards.oft';
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin: 0.5rem 0;
  }

  .aegeliss-intro, .rotator-intro, .c2c-intro, .tcb-intro, .revisime-intro, .vv-intro, .hf-intro{
    background-color: #abccdb;
    color: #435061;
    padding: 2rem 0.75rem;
    display: flex;
    flex-direction: column-reverse;
  }

  .rotator-intro{
    background-color: #F7EDD4;
    color: #8C3335;
  }

  .c2c-intro{
    background-color: #993A38;
    color: #FAEBD7;
  }

  .tcb-intro{
    background-color: #ABBEC2;
    color: #2C394C;
  }

  .revisime-intro{
    background-color: #D8C3A6;
    color: #37434F;
  }

  .vv-intro{
    background-color: #FEE0FA;
    color:#005719;
  }

  .hf-intro{
    background-color: #C0C4E0;
    color: #4B2F84;
  }
  .hf-intro h1{
    color: #4B2F84;
  }
  .rotator-intro h1{
    color: #8C3335;
  }

  .c2c-intro h1{
    color: #FAEBD7;
  }

  .tcb-intro h1{
    color: #2C394C;
  }

  .revisime-intro h1{
    color: #37434F;
  }

  .vv-intro h1{
    color: #005719;
  }

  .aegeliss-intro p, .rotator-intro p, .c2c-intro p, .revisime-intro p, .vv-intro p, .hf-intro p{
    font-size: 1.1rem;
  }

  .aegeliss-intro h1{
    color:#435061
  }

  .aegeliss-intro img{
    max-width: 90%;
    height: auto;
    align-self: center;
  }

  .rotator-intro img{
    max-width: 98%;
    height: auto;
    align-self: center;
  }

  .c2c-intro img, .hf-intro img{
    max-width: 70%;
    height: auto;
    align-self: center;
  }


  .tcb-intro img{
    max-width: 95%;
    height: auto;
    align-self: center;
  }

  .revisime-intro img, .vv-intro img{
    max-width: 90%;
    height: auto;
    align-self: center;
  }

  .tech-stack-container{
    display: flex;
    flex-direction: column;
  }

  .tech-stack-items{
    display: flex;
    gap: 1rem;
  }

  .ts-item{
    background-color: #435061;
    color: #abccdb;
    padding: 4px 16px;
    border-radius: 16px;
    transition: transform 0.3s ease;
  }

  .rotator-intro .ts-item{
    background-color: #8C3335;
    color: #F7EDD4;
  }

  .c2c-intro .tech-stack-items, .tcb-intro .tech-stack-items, .revisime-intro .tech-stack-items{
    flex-wrap: wrap;
  }

  .c2c-intro .ts-item{
    color: #993A38;
    background-color: #FAEBD7;
  }

  .tcb-intro .ts-item{
    color: #ABBEC2;
    background-color: #2C394C;
  }

  .revisime-intro .ts-item{
   color: #D8C3A6;
    background-color: #37434F;
  }

  .vv-intro .ts-item{
    color: #FEE0FA;
    background-color:#005719;
  }

  .hf-intro .ts-item{
    color: #C0C4E0;
    background-color: #4B2F84;
  }

  .ts-item:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  .research-methods-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    list-style: none;
    margin: none;
    padding: none;
  }

  @media(min-width: 375px){
    h1{
        font-size: 2.2rem;
    }

    .rotator-intro{
        padding: 3.2em 0.75em;
    }

    .vv-intro{
      padding: 4.4rem 0.75rem;
    }

    .hf-intro{
      padding: 4rem 0.75rem;
    }
  }

  @media(min-width: 430px){

    .aegeliss-intro{
        padding: 5rem 0.75rem;
    }

    .rotator-intro{
        padding: 6.5rem 0.75rem;
        gap: 1rem;
    }

    .c2c-intro{
        padding: 1.8rem 0.75rem;
        gap: 1rem;
    }

    .tcb-intro, .revisime-intro{
        padding: 4.7rem 0.75rem;
    }

    .vv-intro{
      padding: 6.4rem 0.75rem;
    }

    .hf-intro{
      padding: 6rem 0.75rem;
    }
    
  }

  @media(min-width: 768px){
    body{
        font-size: 20px;
        line-height: 1.8rem;
      }

      .aegeliss-intro img, .hf-intro img{
        max-width: 60%;
      }

      .rotator-intro img, .tcb-intro img{
        max-width: 80%;
      }


      .revisime-intro img, .vv-intro img{
        max-width: 75%;
      }

      h1{
        font-size: 2.5em;
        line-height: 1em;
      }

      .aegeliss-intro{
        padding: 5.4em 2em;
      }

      .rotator-intro, .hf-intro{
        padding: 4.6em 2em;
      }

      .c2c-intro img{
        max-width: 50%;
      }
      .c2c-intro{
        padding: 5.2em 2em;
      }

      .tcb-intro{
        padding: 4.9em 2em;

      }

      .revisime-intro, .vv-intro{
        padding: 6em 2em;
      }

      .aegeliss-intro p, .rotator-intro p, .c2c-intro p, .tcb-intro p, .vv-intro p, .hf-intro p{
        font-size: 1em;
      }

      .tech-stack-container{
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }

    .research-methods-list{
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
    }
  }

  @media(min-width: 1024px){

    .aegeliss-intro, .rotator-intro, .c2c-intro, .tcb-intro, .revisime-intro, .vv-intro, .hf-intro{
        padding: 7.2em 4em;
        gap: 2em;
        flex-direction: row;
        justify-content: space-between;
    }

    .rotator-intro, .hf-intro{
        padding: 7.8em 4em;
    }

    .aegeliss-intro-text{
        max-width: 50%;
    }

    .c2c-intro{
        padding: 6.2em 4em;
    }

    .tcb-intro{
        padding: 4.3em 4em;
    }

    .rotator-intro-text{
        max-width: 70%;
    }

    .aegeliss-intro img{
        max-width: 45%;
    }

    .rotator-intro img, .hf-intro img{
        max-width: 40%;
    }

    .c2c-intro img{
        max-width: 40%;
    }

    .tcb-intro img{
        max-width: 45%;
    }

    .revisime-intro img, .vv-intro img{
        max-width: 50%;
    }

    h1{
        font-size: 3.5em;
        margin: 1rem 0;
    }

    .c2c-intro .tech-stack-container, .tcb-intro .tech-stack-container, .revisime-intro .tech-stack-container{
        align-items: flex-start;
        margin: 1em 0 0;
    }
    
  }

  @media(min-width: 1440px){
    .aegeliss-intro{
        padding: 7em 6em;
    }

    .rotator-intro, .hf-intro{
        padding: 7.1em 6em;
    }

    .revisime-intro, .vv-intro{
        padding: 6em;
    }

    .c2c-intro{
        padding: 6.4em 6em;
    }

    .tcb-intro{
        padding: 4.6em 6em;
    }

    .c2c-intro img{
        max-width: 35%;
    }

    .tcb-intro img{
        max-width: 40%;
    }

    .revisime-intro img{
        max-width: 40%;
    }

    h1{
        font-size: 4.5em;
    }

    .aegeliss-intro p, .rotator-intro p, .c2c-intro p, .tcb-intro p, .revisime-intro p, .vv-intro p, .hf-intro p{
        font-size: 1.2em;
    }

    .c2c-intro .tech-stack-container, .tcb-intro .tech-stack-container{
        align-items: center;
    }

  }

  @media(min-width: 1728px){
    .aegeliss-intro, .hf-intro{
        padding: 13.7em 8em;
    }

    .rotator-intro{
        padding: 15.2em 8em;
    }

    .c2c-intro{
        padding: 12.7em 8em;
    }

    .tcb-intro{
        padding: 12em 8em;
    }

    .revisime-intro{
        padding: 15em 8em;
    }

    .vv-intro{
      padding: 12.2em 8em;
    }

    
  }

  @media(min-width: 2200px){
    .aegeliss-intro, .rotator-intro, .c2c-intro, .tcb-intro, .revisime-intro, .vv-intro, .hf-intro{
        padding-left: 32em;
        padding-right: 32em;
    }
  }