:root {
    --color-green: #2C5243;
    --color-dark-green: #2E3A38;
    --color-light-green: #C3D1BF;
    --color-cream: #F0ECE3;
    --color-yellow: #E5D599;
    --color-orange: #C87041;
    --color-blue: #A8B9C0;
    --color-white: #F5F5F5;
    --color-black: #333333;
  }
  
  body .rotator-page{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--color-cream);
    font-family:   "DM Sans",sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
    color: var(--color-black);
    overflow-x: hidden;
    background-color: #fefefe;
  }

  .rotator-page h1{
    color: #8C3335;
    font-family: 'regards.oft';
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin: 0.5rem 0;
  }

  .rotator-page h2 {
    color: #8C3335;
    line-height: 1.8rem;
    font-size: 1.4rem;
    margin: 1rem 0;
  }

  .rotator-page h3{
    color: #8C3335;
  }

  .rotator-intro{
    background-color: #F7EDD4;
    color: #8C3335;
    padding: 2rem 0.75rem;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2.5rem;
    filter: drop-shadow(0px 6.65px 5.32px rgba(0, 0, 0, 0.03)) drop-shadow(0px 22.336px 17.869px rgba(0, 0, 0, 0.04)) drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07));
  }


  .rotator-intro img{
    max-width: 98%;
    height: auto;
    align-self: center;
  }

  
  .tech-stack-container{
    display: flex;
    flex-direction: column;
  }

  .tech-stack-items{
    display: flex;
    gap: 1rem;
  }

  .rotator-page .ts-item{
    color: #F7EDD4;
    background-color: #8C3335;
    padding: 4px 16px;
    border-radius: 16px;
    transition: transform 0.3s ease;
  }

  .ts-item:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  .core-problems-list, .my-responsibilities-list, .selection-criteria-list, .rtr-projects-list, .phase-2-activies-list, .design-solutions-list, .solutions-list, .impact-and-result-list, .key-learnings-list{
    padding-inline-start: 0;
  }

  .cpl-item, .responsibility-item, .ph2-activity-item, .solution-item, .iar-item{
    list-style-type: none;
    background-color: #8C3335;
    color: #fcf8ee;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 24px;
  }

  .sc-item, .rtr-project-item, .ds-item, .kl-item{
    list-style-type: none;
    color: #8C3335;
    background-color: #fefefe;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 24px;
  }


  .the-challenge-section, .my-role-and-approach, .solution-section, .phase-2, .phase-4{
    margin: 2rem 0.75rem;
  }

  .phase-1, .phase-3, .key-learning-section{
    padding: 0.75rem;
    background-color: #8C3335;
    color: #fefefe;
  }

  .phase-1 h2, .phase-3 h3, .key-learning-section h2{
    color: #fcf8ee;
  }

  .phase-1 h3{
    color: #fcf8ee;
  }

  .phase-2 h4{
    color: #402001;
  }

  .oregon-city-animation {
    width: 100vw;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    position: relative;
    background-color: var(--color-dark-green);
    filter: drop-shadow(0px 6.65px 5.32px rgba(0, 0, 0, 0.03)) 
            drop-shadow(0px 22.336px 17.869px rgba(0, 0, 0, 0.04)) 
            drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07));
}

.oregon-city-video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  aspect-ratio: 5472 / 864;
}
.ph4-tx-and-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ph4-tx-and-img img{
    max-width: 280px;
    filter: drop-shadow(0px 6.65px 5.32px rgba(0, 0, 0, 0.03)) drop-shadow(0px 22.336px 17.869px rgba(0, 0, 0, 0.04)) drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07));
}

@supports not (aspect-ratio: 1) {
  .oregon-city-video {
    height: calc(100vw * 864 / 5472);
  }
}


  @media(min-width: 375px){
    .oregon-city-video {
        min-height: calc(100vw * 864 / 5472);
    }

  }

  @media(min-width: 430px){

    
    
  }

  @media(min-width: 768px){
    body{
        font-size: 20px;
        line-height: 1.8rem;
      }

      
      .tech-stack-container{
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }

    .oregon-city-video {
        min-height: calc(100vw * 864 / 5472);
    }

  }

  @media(min-width: 1024px){

    .rotator-intro{
        padding: 7.2em 4em;
        gap: 2em;
        flex-direction: row;
        justify-content: space-between;
    }

    
    
  }

  @media(min-width: 1440px){
    .aegeliss-intro{
        padding: 7em 6em;
    }

    .rotator-intro, .hf-intro{
        padding: 7.1em 6em;
    }

    .revisime-intro, .vv-intro{
        padding: 6em;
    }

    .c2c-intro{
        padding: 6.4em 6em;
    }

    .tcb-intro{
        padding: 4.6em 6em;
    }

    .c2c-intro img{
        max-width: 35%;
    }

    .tcb-intro img{
        max-width: 40%;
    }

    .revisime-intro img{
        max-width: 40%;
    }

    h1{
        font-size: 4.5em;
    }

    .aegeliss-intro p, .rotator-intro p, .c2c-intro p, .tcb-intro p, .revisime-intro p, .vv-intro p, .hf-intro p{
        font-size: 1.2em;
    }

    .c2c-intro .tech-stack-container, .tcb-intro .tech-stack-container{
        align-items: center;
    }

  }

  @media(min-width: 1728px){
    
    
  }

  @media(min-width: 2200px){
    .rotator-intro{
        padding-left: 32em;
        padding-right: 32em;
    }
  }