:root {
    --color-green: #2C5243;
    --color-dark-green: #2E3A38;
    --color-light-green: #C3D1BF;
    --color-cream: #F0ECE3;
    --color-yellow: #E5D599;
    --color-orange: #C87041;
    --color-blue: #A8B9C0;
    --color-white: #F5F5F5;
    --color-black: #333333;
  }
  
  body .rotator-page{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--color-cream);
    font-family:   "DM Sans",sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
    color: var(--color-black);
    overflow-x: hidden;
    background-color: #fefefe;
  }

  .rotator-page h1{
    color: #8C3335;
    font-family: 'regards.oft';
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin: 0.5rem 0;
  }

  .rotator-page h2 {
    color: #8C3335;
    line-height: 1.8rem;
    font-size: 1.4rem;
    margin: 1rem 0;
  }

  .rotator-page h3{
    color: #8C3335;
  }

  .rotator-intro{
    background-color: #F7EDD4;
    color: #8C3335;
    padding: 2rem 0.75rem;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2.5rem;
    filter: drop-shadow(0px 6.65px 5.32px rgba(0, 0, 0, 0.03)) drop-shadow(0px 22.336px 17.869px rgba(0, 0, 0, 0.04)) drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07));
  }


  .rotator-intro img{
    max-width: 98%;
    height: auto;
    align-self: center;
  }

  
  .tech-stack-container{
    display: flex;
    flex-direction: column;
  }

  .tech-stack-items{
    display: flex;
    gap: 1rem;
  }

  .rotator-page .ts-item{
    color: #F7EDD4;
    background-color: #8C3335;
    padding: 4px 16px;
    border-radius: 16px;
    transition: transform 0.3s ease;
  }

  .ts-item:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  .core-problems-list, .my-responsibilities-list, .selection-criteria-list, .rtr-projects-list, .phase-2-activies-list, .design-solutions-list, .solutions-list, .impact-and-result-list, .key-learnings-list{
    padding-inline-start: 0;
  }

  .rotator-page .cpl-item, .rotator-page .responsibility-item, .rotator-page .ph2-activity-item, .rotator-page .solution-item, .rotator-page .iar-item{
    list-style-type: none;
    background-color: #8C3335;
    color: #fcf8ee;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 24px;
  }

  .sc-item, .rtr-project-item, .ds-item, .rotator-page .kl-item{
    list-style-type: none;
    color: #8C3335;
    background-color: #fefefe;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 24px;
  }


  .the-challenge-section, .my-role-and-approach, .solution-section, .phase-2, .phase-4{
    margin: 2rem 0.75rem;
  }

  .phase-1, .phase-3, .key-learning-section{
    padding: 0.75rem;
    background-color: #8C3335;
    color: #fefefe;
  }

  .phase-1 h2, .phase-3 h3, .key-learning-section h2{
    color: #fcf8ee;
  }

  .phase-1 h3{
    color: #fcf8ee;
  }

  .phase-2 h4{
    color: #402001;
  }

  .oregon-city-animation {
    width: 100vw;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    position: relative;
    background-color: var(--color-dark-green);
    filter: drop-shadow(0px 6.65px 5.32px rgba(0, 0, 0, 0.03)) 
            drop-shadow(0px 22.336px 17.869px rgba(0, 0, 0, 0.04)) 
            drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07));
}

.oregon-city-video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  aspect-ratio: 5472 / 864;
}
.ph4-tx-and-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ph4-tx-and-img img{
    max-width: 280px;
    filter: drop-shadow(0px 6.65px 5.32px rgba(0, 0, 0, 0.03)) drop-shadow(0px 22.336px 17.869px rgba(0, 0, 0, 0.04)) drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07));
}

.rtr-wf-carousel{
  margin: 2rem 0;
}

.rtr-impact-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rtr-impact-div img{
  max-width: 280px;
  border-radius: 16px;
}

.rotator-notes-carousel img{
  max-height: 320px;
}

.rotator-mockups-carousel img{
  max-height: 136px;
  /* width: fit-content; */
  justify-self: center;
}

.rtr-bq{
  margin-top: 2rem;
}

.cpl-item:hover, .responsibility-item:hover, .sc-item:hover, .rtr-project-item:hover, .ph2-activity-item:hover, .ds-item:hover, .solution-item:hover, .iar-item:hover, .kl-item:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

@supports not (aspect-ratio: 1) {
  .oregon-city-video {
    height: calc(100vw * 864 / 5472);
  }
}


  @media(min-width: 375px){
    .oregon-city-video {
        min-height: calc(100vw * 864 / 5472);
    }

     h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.6rem;
    }

    .rotator-notes-carousel img{
      max-height: 412px;
    }

    .rotator-mockups-carousel img{
      max-height: 182px;
    }

    .ph4-tx-and-img img{
      max-width: 364px;
    }

    .rtr-impact-div img{
      max-width: 332px;
    }

  }

  @media(min-width: 430px){

    .rotator-notes-carousel img{
      max-height: 472px;
    }

    .rotator-mockups-carousel img{
      max-height: 200px;
    }
    
  }

  @media(min-width: 768px){
    body .rotator-page{
        font-size: 20px;
        line-height: 1.8rem;
      }
      
      .tech-stack-container{
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }

    .oregon-city-video {
        min-height: calc(100vw * 864 / 5472);
    }

    .rotator-page h1{
        font-size: 2.5em;
        line-height: 1em;
      }

    .rotator-page h2{
        font-size: 2em;
        line-height: 1.2em;
      }

    .rotator-page h3{
        font-size: 1.6em;
        line-height: 1.2em;
        margin: 0.4em 0;
      }
      .rotator-page h4{
        font-size: 1.4em;
        margin: 0.3em 0;
      }

      .rotator-intro{
        padding: 3em 2em;
      }

     .rotator-page .phase-1, .rotator-page .phase-3, .rotator-page .key-learning-section{
      padding: 2em;
     }

     .rotator-page .the-challenge-section, .rotator-page .my-role-and-approach, .rotator-page .phase-2, .rotator-page .phase-4, .rotator-page .solution-section{
      margin: 2em;
     }

     .rotator-page .my-responsibilities-list, .rotator-page .selection-criteria-list, .rotator-page .rtr-projects-list, .rotator-page .phase-2-activies-list, .rotator-page .key-learnings-list, .rotator-page .solutions-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem; 
      list-style: none;
      padding: 0;
    }

    .rotator-page .responsibility-item, .rotator-page .sc-item, .rotator-page .rtr-project-item, .rotator-page .ph2-activity-item, .rotator-page .kl-item, .rotator-page .solution-item{
      margin: 0;
      padding: 1.5em;
    }

    .rotator-page .responsibility-item:last-child , .rotator-page .ph2-activity-item:last-child, .rotator-page .solution-item:last-child{
      grid-column: 1 / -1; 
      justify-self: center; 
      max-width: calc(50% - 0.5rem); 
    }

    .rotator-notes-carousel img{
      max-height: 520px;
    }

    .rotator-notes-carousel{
      max-width: 448px;
      height: auto;
      justify-self: center;
    }

    .rotator-mockups-carousel img{
      max-height: 364px;
    }

    .rotator-wireframes-carousel img{
      max-height: 972px;
    }

    .rotator-wireframes-carousel .carousel-container{
      max-width: 496px;
      height: auto;
      justify-self: center;
    }
    .ph4-tx-and-img{
      flex-direction: row;
    }

    .rtr-impact-div{
      flex-direction: row;
      gap: 2em;
    }

    .rotator-page .ds-item{
      width: 520px;
      justify-self: center;
    }


  }

  @media(min-width: 1024px){

    .rotator-page h1{
        font-size: 2.8em;
        margin: 1rem 0;
    }

    .rotator-page h2{
        font-size: 2.2em;
        margin: 0.5em 0;
    }
    .rotator-intro img{
      max-width: 58%;
    }

    .rotator-intro{
        padding: 3em 4em;
        gap: 0;
        justify-content: space-between;
    }

    .rtr-intro-tpm{
      display: flex;
      justify-content: space-between;
    }

    .rotator-page .the-challenge-section, .rotator-page .my-role-and-approach, .rotator-page .phase-2, .rotator-page .phase-4, .rotator-page .solution-section{
      margin: 4em;
    }

     .rotator-page .phase-1, .rotator-page .phase-3, .rotator-page .key-learning-section{
      padding: 4em;
     }

     .rotator-page .my-responsibilities-list, .rotator-page .selection-criteria-list, .rotator-page .rtr-projects-list, .rotator-page .phase-2-activies-list, .rotator-page .key-learnings-list{
      gap: 2em;
     }

     .rotator-page .core-problems-list{
      display: flex;
      flex-direction: column;
      gap: 1.5em;
     }

     .rotator-page .cpl-item{
      margin: 0;
      max-width: 70%;
     }

     .rotator-page .cpl-item:last-child{
      margin-bottom: 1em;
     }

     .rotator-page .rtr-projects-list, .rotator-page .phase-2-activies-list, .rotator-page .phase-2-activies-list{
      display: flex;
      flex-direction: column;
      max-width: 40%;
      gap: 1.5em;
     }

     .rotator-page .phase-2-activies-list{
      max-width: 100%;
     }

     .rtr-key-activites-text{
      max-width: 30%;
     }

     .rotator-page .ph2-activity-item:last-child{
      max-width: 100%;
     }

     .rotator-page .rtr-project-item, .rotator-page .ph2-activity-item{
      padding: 1em;
     }
    
     .rtr-final-selection, .rtr-key-activites{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
     }

     .rtr-key-activites-text{
      max-width: 400px;
     }

     .rtr-key-activites{
      flex-direction: row-reverse;
     }

     .rotator-projects-carousel img{
      max-height: 400px;
     }

     .rotator-mockups-carousel img{
      max-height: 380px;
     }

     .phase-2 .carousel-container.rotator-mockups-carousel{
      max-width: 680px;
     }

     .rtr-final-selection .carousel-container, .rtr-key-activites .carousel-container{
      width: 100%;
     }

     .rtr-key-activites .carousel-container{
      max-width: 740px;
     }

     .rotator-projects-carousel{
      justify-self: center;
      max-width: 700px;
      margin: 0 2em;
     }

     .rotator-wireframes-carousel img{
      max-height: 680px;
     }

     .rotator-page .ds-item{
      justify-self: flex-start;
     }

     .rtr-p3-text{
      max-width: 50%;
      display: flex;
      flex-direction: column;
     }

     .rtr-p3 .carousel-container{
      max-width: 500px;
     }

     .rtr-p3{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
     }

     .ph4-tx-and-img img {
      max-width: 600px;
     }

     .ph4-tx-and-img p{
      max-width: 33%;
     }

     .ph4-tx-and-img{
      justify-content: space-around;
     }

     .rtr-impact-div img{
      max-width: 500px;
      border-radius: 32px;
     }

     .rtr-bq{
      margin-top: 3em;
     }

     .rtr-ph-1{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 3em;
     }

     .rotator-page .selection-criteria-list{
      display: flex;
      flex-direction: column;
     }

     .rotator-page .sc-item{
      padding: 1em;
     }

    .rotator-page .the-challenge-section{
      margin-bottom: 0;
    }

     .rotator-page .my-role-and-approach{
      margin-top: 2em;
    }

    
  }

  @media(min-width: 1440px){
    .rotator-page h1{
        font-size: 3.6em;
    }

    .rotator-page h2{
        font-size: 2.6em;
    }

    .rotator-intro img{
      max-width: 50%;
    }

    .rotator-intro{
      padding: 3em 6em;
    }

    .rotator-page .the-challenge-section, .rotator-page .my-role-and-approach, .rotator-page .phase-2, .rotator-page .phase-4, .rotator-page .solution-section{
      margin: 6em;
    }

     .rotator-page .phase-1, .rotator-page .phase-3, .rotator-page .key-learning-section{
      padding: 6em;
     }
    

    .rtr-key-activites-text{
      max-width: 600px;
     }

     .rotator-page .my-role-and-approach{
      margin-top: 0;
    }

    .rotator-page .the-challenge-section{
      margin-bottom: 2em;
    }

    .rtr-key-activites-text{
      max-width: 43%;
    }
  }

  @media(min-width: 1728px){
    
    .rotator-page .the-challenge-section, .rotator-page .my-role-and-approach, .rotator-page .phase-2, .rotator-page .phase-4, .rotator-page .solution-section{
      margin: 6em 8em;
    }

     .rotator-page .phase-1, .rotator-page .phase-3, .rotator-page .key-learning-section{
      padding: 6em 8em;
     }

     .rotator-page .my-role-and-approach{
      margin-top: 0;
    }

    .rotator-page .the-challenge-section{
      margin-bottom: 2em;
    }

    .rotator-projects-carousel img{
      max-height: 540px;
    }

    .rtr-key-activites-text{
      max-width: 35%;
    }

    .rtr-final-selection .carousel-container{
      max-width: 940px;
    }

    .rotator-page .rotator-mockups-carousel img{
      max-height:448px;
    }

   .phase-2 .carousel-container.rotator-mockups-carousel{
      max-width: 848px;
    }
    
  }

  @media(min-width: 2200px){
    .rotator-intro,  .rotator-page .phase-1, .rotator-page .phase-3, .rotator-page .key-learning-section{
        padding-left: 32em;
        padding-right: 32em;
    }

    .rotator-page .the-challenge-section, .rotator-page .my-role-and-approach, .rotator-page .phase-2, .rotator-page .phase-4, .rotator-page .solution-section{
      margin-left: 32em;
      margin-right: 32em;
    }

    .rtr-final-selection, .rtr-key-activites-text{
      gap: 2em;
    }
  }