/* @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap'); */

:root {
  --color-green: #2C5243;
  --color-dark-green: #2E3A38;
  --color-light-green: #C3D1BF;
  --color-cream: #F0ECE3;
  --color-yellow: #E5D599;
  --color-orange: #C87041;
  --color-blue: #A8B9C0;
  --color-white: #F5F5F5;
  --color-black: #333333;
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--color-cream);
  font-family:   "DM Sans",sans-serif;
  font-size: 16px;
  line-height: 1.4rem;
  color: var(--color-dark-green);
  overflow-x: hidden;
}

/* Components */

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Airplane Buttons */

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.airplane-text-button:hover .airplane-image-button {
  animation: wiggle 0.5s ease;
}

.airplane-text-button{
  font-size: 1em;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    color:var(--color-green);
    text-decoration: none;
    font-size: 1rem;
}

.airplane-text-button img{
  max-width: 24px;
  max-height: 12px;
}
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Text */

.orange-title{
  color: var(--color-orange);
  font-family: 'regards.oft';
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.8rem;
  margin-bottom: .5rem;
}

.subtitle{
  font-size: 1.2em;
  font-weight: 250;
  color: var(--color-green);
  margin-bottom: .5rem;
  margin-top: 0;
}

p{
  font-weight: 400;
  margin-bottom: .75rem;
  margin-top: 0;
}

.yellow-subtitle{
  color: var(--color-yellow);
  font-family: 'regards.oft';
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: .75rem;
}

.orange-subtitle{
  color: var(--color-orange);
  font-family: 'regards.oft';
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: .75rem;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Info Cards */

.info-card{
  position: relative;
  max-width: 280px;
  height: auto;
  overflow: hidden;
  border-radius: 28px;
  transition: transform 0.3s ease;
}

.info-card-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.info-card-overlay{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 280px;
  height: 100%;
  background:rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  color: #333333;
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
  transition: opacity 0.3s ease;
  cursor:pointer
}

.info-card:hover .info-card-overlay{
  opacity: 1;
}

.info-card-title{
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-green);
  margin: .5rem 0 0 0;
}

.info-card-tech-stack{
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--color-green);
  margin: 0;
}

.info-card-description-container{
  width: 90%;
}

.info-card-description{
  font-size: 0.7rem;
  line-height: 0.8rem;
  color: var(--color-dark-green);
  white-space: normal;
  margin: 0.4rem 0;
}

.learn-more{
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}

.learn-more .arrow{
  margin-left: 0.4rem;
  transition: transform 0.3s ease;
}

.learn-more:hover .arrow{
  transform: translateX(5px);
}

.info-card:hover {
  transform: scale(1.05);

}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Footer */

.footer-content{
  background-color: var(--color-green);
  padding: .2rem .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-yellow);
  margin: 0;
  justify-content: space-between;
}

.footer-logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.footer-logo-container p{
  margin: 0;
  padding: 0;
}
.footer-content img{
  max-height: 24px;
}
.footer-content p{
  font-size: 0.2em;
}

.footer-links{
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.footer-links a{
  color: var(--color-yellow);
}

.go-to-top{
  cursor: pointer;
}


/* ----------------------------------------------------------------------------------------------------------------------------- */

/* Homepage */


.intro-images{
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
 }

.intro-img-1, .intro-img-2{
  max-width: 40%;
  height: auto;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
}

.intro-img-1{
  transform: rotate(-20deg);
}

.intro-img-2{
  transform: rotate(20deg);
}

.intro-section{
  display: flex;
  flex-direction: column-reverse;
  margin: 2rem .75rem;
  gap: 1rem;
}

.intro-buttons-container{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.recent-projects-section{
  background-color: #2C5243;
  padding: 1rem 0;
}

.recent-projects-section h2{
  margin-left: .75rem;
}

.project-info-cards{
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  height:max-content;
}

.project-info-cards::-webkit-scrollbar{
  display: none;
}
.project-info-cards > .info-card {
  flex: 0 0 auto; 
  scroll-snap-align: start; 
}


.about-me-section-img, .contact-me-section-img{
  max-width:75%;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
}

.about-me-section-img{
  margin-bottom: 3rem;
}

.about-me-section{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 2rem  .75rem;
}

.contact-me-section{
  background-color: var(--color-green);
  color: var(--color-cream);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2rem  .75rem;
}

.contact-me-section h2, .about-me-section h2{
  margin-top: 0;
}
.contact-me-section .airplane-text-button{
  color: var(--color-cream);
  font-size: 0.8rem;
}

.contact-me-section-img{
  margin: 1.5rem 0;
}
.cme-section{
  padding: 2rem 1rem;
}
.cme-title{
  color: var(--color-orange);
  font-family: 'regards.oft';
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.social-link-icon{
  max-width: 1rem;
  height: 100%;
}
.socials-container{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.social-link{
  display: flex;
  gap:.25rem;
  align-items: center;
}


/* ----------------------------------------------------------------------------------------------------------------------------- */

/* About Me Page */

.about-img-3, .about-img-4, .about-img-5{
  display: none;
}

.about-intro-section{
  margin: 3rem 0.75rem;
}

.about-img-1, .about-img-2, .about-img-3, .about-img-4, .about-img-5{
  max-width: 40%;
  height: auto;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
}

.about-img-1{
  transform: rotate(-20deg);
  z-index: 1;
}

.about-img-2{
  transform: rotate(20deg);
}

.about-img-3{
  /* transform: rotate(-20deg); */
  z-index: 1;
}

.about-img-4{
  transform: rotate(-20deg);
}

.about-img-5{
  transform: rotate(20deg);
}



.about-intro-p{
  color: var(--color-cream);
  background-color: var(--color-green);
  padding: 1rem;
  border-radius: 12px;
}

.about-intro-img{
 display: flex;
 justify-content: center;
 margin-top: 3.5rem;
}


.about-intro-section h1{
  margin: 3.5rem 0 1rem 0;
}

.my-journey-section .small-orange-title{
  margin-top: 80px;
  justify-self: center;
}

.timeline-section{
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
  gap: 88px;
  flex-wrap: nowrap;
  overflow:visible;
  padding: 0 64px;
  scroll-padding: 0 24px;
  position: relative;
  z-index: 1;
}


.timeline-section::-webkit-scrollbar {
  display: none;
}
.timeline-section {

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.timeline-section > *:nth-child(odd) {
  transform: rotate(-3deg);
}
.timeline-section > *:nth-child(even) {
  transform: rotate(3deg);
}

.timeline-scroll-container{
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding: 55px 0 240px 0;
  -webkit-overflow-scrolling: touch;
}

.timeline-section > * {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.timeline-scroll-container::-webkit-scrollbar{
  display: none;
}

.timeline-line{
  z-index: 0;
  left: -60px;
  top: 20px;
  position:absolute;
  align-self: center;
  align-self: flex-start;
}

.x-and-title{
  margin-top: 200px;
  margin-left: 48px;
  font-family:"Swanky and Moo Moo", cursive;
  font-size: 0.9em;
  color: var(--color-dark-green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x-and-title p{
  padding: 0;
  margin: 0;
  width:max-content;
}

.x{
  color: var(--color-orange);
}

.timeline-airplane{
  width: 100px;
}

.timeline-section .airplane-and-title{
  transform: rotate(0deg);
  margin-bottom: 252px;
}
.timeline-section .airplane-and-title .timeline-airplane{
  transform: rotate(-16deg);
}

.airplane-and-title{
  font-family:"Swanky and Moo Moo", cursive;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}




/* Journey Card */

.journey-card{
  display: flex;
  flex-direction: column;
  width: 296px;
  background-color: var(--color-green);
  color: var(--color-cream);
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 16px;
  gap: 8px;
  font-family:"Swanky and Moo Moo", cursive;
  font-size: 0.9em;
  line-height: 22.4px;
  box-shadow: 0px 100px 105px 0px rgba(0, 0, 0, 0.13), 0px 29px 54px 0px rgba(0, 0, 0, 0.09), 0px 9px 56px 0px rgba(0, 0, 0, 0.08), 0px -2px 61px 0px rgba(0, 0, 0, 0.07), 0px -6px 58px 0px rgba(0, 0, 0, 0.05), 0px -5px 41px 0px rgba(0, 0, 0, 0.04);
}

.date-and-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:264px;
}

.journey-card p{
  margin: 0;
}
.journey-card-img{
  height: 240px;
  width: 240px;
  object-fit:cover;
  border-radius: 8px;
}

.cream-journey-card .journey-card{
  background-color: var(--color-cream);
  color: var(--color-dark-green);
}



.skills-section{
  display: flex;
  flex-direction: column;
  padding: 3rem 0.75rem 0;
  background-color: var(--color-green);
  color: var(--color-light-green);
}

.skills-title{
  color: var(--color-yellow);
  font-family: 'regards.oft';
  font-size: 1.4rem;
  font-weight: 200;
  margin: 0;
}

.skills-section h3{
  font-size: 1.2rem;
}

.skills-section h4{
  font-size: 1.05rem;
}




.behind-the-screen-section, .dancing-through-life-section, .travel-section, .record-and-music-section{
  display: flex;
  flex-direction: column;
  margin: 1rem 0.75rem;
}
.skills-section img{
  margin-top: 1rem;
  align-self: center;
  max-width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;

}

.more-about-me-images{
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  justify-items: center;
}

.dancing-through-life-images{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, minmax(80px, auto));
  gap: 16px;
  max-width: 800px;
  width: 100%;
  justify-items: center;
}

.travel-images{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 16px;
  width: 100%;
  max-width: 900px;
  justify-items:center;
}

.record-and-music-images{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 16px;
  width: 100%;
  max-width: 900px;
  justify-items:center;
}

.more-about-me-images img, .dancing-through-life-images img, .travel-images img, .record-and-music-images img{
  border-radius: 16px;
  object-fit: cover;
  display: block;
  /* max-width: 280px; */
  aspect-ratio: auto;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.my-journey-section h2{
  justify-self: center;
}
.mam-left{
  grid-column: 1;
  grid-row: 1/ span 3;
  height: 100%;
}

.mam-rt, .mam-rm, .mam-rb{
 width: 100%;
}

.mam-rt{
  grid-column: 2;
  grid-row: 1;
}

.mam-rm{
  grid-column: 2;
  grid-row: 2;
}

.mam-rb{
  grid-column: 2;
  grid-row: 3;
}

.my-journey-section h3{
 text-align: center;
}

.dthl-img-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.dthl-img-2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.dthl-img-3 {
  grid-column: 1 / span 4;
  grid-row: 3 / span 2;
}

.dthl-img-4 {
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
}

.dthl-img-5 {
  grid-column: 3 / span 2;
  grid-row: 5 / span 2;
}

.dthl-img-6 {
  grid-column: 5 / span 2;
  grid-row: 1 / span 6;
}

.ti-img-1{
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.ti-img-2{
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.ti-img-3{
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.ti-img-4{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.ti-img-5{
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.ti-img-6{
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.ti-img-7{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.ti-img-8{
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

.ram-img-1{
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.ram-img-2{
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;

}

.ram-img-3{
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.ram-img-4{
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.ram-img-5{
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

.ram-img-6{
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.ram-img-7{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.ram-img-8{
  grid-column: 3 / span 2;
  grid-row: 3 / span 1;
}

/* Hover effect for all images */
.more-about-me-images img:hover, .dancing-through-life-images img:hover, .travel-images img:hover, .record-and-music-images img:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lets-chat{
  background-color: var(--color-light-green);
  padding: 2rem 0.75rem;
  box-shadow: 0px -49px 190px 0px rgba(0, 0, 0, 0.17), 0px -17.886px 69.353px 0px rgba(0, 0, 0, 0.12);
}

.lets-chat-buttons{
  display: flex;
  flex-direction: column;
}

.lets-chat .airplane-text-button{
  font-size: 0.75rem;
}

.lets-chat-title{
  font-family: 'regards.oft';
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-green);
}

.my-journey-title{
  margin-top: 3rem;
}

.construction-page{
  display: flex;
  flex-direction: column;
  margin: 2.25rem 0.75rem;
  align-items: center;
}

.construction-title{
  font-family: 'regards.oft';
  font-size: 3.5rem;
  font-weight: 300;
  color: var(--color-orange);
}

.construction-img{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
  align-self: center;
}

.construction-page .airplane-text-button{
  font-size: 1.2rem;
}

 /* ------------------------------------------------------------------------------ */
  /* Project Page */

  .project-intro-section{
    display: flex;
    flex-direction: column-reverse;
    margin: 2rem 0.75rem;
    align-items: center;
  }

  .website-dev-journey{
    display: flex;
    flex-direction: column;
    margin: 4rem 0.75rem;
  }

  .wdj-p{
    justify-self: center;
  }


  .project-intro-img{
    max-width: 85%;
    height: auto;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
  }

  .project-intro-text{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .project-page-info-cards{
    display: flex;
    flex-direction: column;
    margin: 2rem 0.75rem;
    gap: 2rem;
    align-items: center;
  }

  .projects-row-1, .projects-row-2, .projects-row-3, .projects-row-4{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .project-page-info-cards .info-card{
    min-height: 250px;
    aspect-ratio: 4/3;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
  }

  
  
@media(min-width: 375px){
  .intro-images{
    margin: 2.5rem 0rem;
  }
  
  .orange-title{
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0;
  }

  .orange-subtitle{
    font-size: 1.6rem;
  }

  .subtitle{
    font-size: 1.5rem;
    margin: 0;
  }

  .intro-p, .intro-buttons-container{
    margin: 0;
  }

  .intro-section h1, .intro-section h2, .intro-p{
    margin-bottom: 1rem;
  }

  .intro-section{
    margin: 2.5rem 0.75rem;
  }
  .yellow-subtitle{
    font-size: 1.6rem;
  }

  .recent-projects-section{
    padding: 2rem 0 1.5rem 0;
  }

  .info-card{
   max-width: 324px;
  }

  .info-card-overlay{
    max-width: 324px;
    padding: 1.2rem;
  }

  .info-card-title{
    font-size: 1.2rem;
  }

  .info-card-tech-stack{
    font-size: .8rem;
  }

  .info-card-description{
    font-size: 0.8rem;
    line-height: 0.9rem;
  }

  .more-about-me-images img, .dancing-through-life-images img, .travel-images img, .record-and-music-images img{
    max-width: 412px;
  }

  .about-intro-section{
    margin: 4rem 0.75rem;
  }

  .about-intro-p{
    padding: 1.5rem 1.25rem;
  }

  .lets-chat-title, .skills-title{
    font-size: 1.6rem;
  }

  .lets-chat .airplane-text-button{
    font-size: 1rem;
  }

  .skills-section h3{
    font-size: 1.4rem;
  }

  .skills-section h4{
    font-size: 1.1rem;
  }

  .construction-page{
    margin: 5rem 0.75rem;
  }

  .project-intro-section{
    margin: 3rem 0.75rem;
  }

  .project-page-info-cards .info-card, .project-page-info-cards .info-card-overlay{
    max-width: 348px;
  }


}


@media(min-width: 430px){

  .orange-title{
    margin-bottom: 1rem;
  }

  .subtitle{
    margin-bottom: 1rem;
  }

  .intro-p{
    margin-bottom: 1rem;
  }

  .intro-buttons-container{
    margin: 0;
  }

  .yellow-subtitle{
    margin-bottom: 1rem;
  }

  .orange-subtitle{
    margin-bottom: 1rem;
  }

  .about-me-section p{
    margin-bottom:  1rem;
  }

  .cme-title{
    margin-bottom: 1rem;
  }

  .about-intro-section{
    margin: 7.2rem 0.75rem;
  }

  .construction-page{
    margin: 8rem 0.75rem;
  }

  .construction-title{
    font-size: 4rem;
  }

  .project-intro-section{
    margin: 4rem 0.75rem;
  }

  .project-page-info-cards .info-card, .project-page-info-cards .info-card-overlay{
    max-width: 396px;
  }


}

@media(min-width:548px ){
  .dthl-img-6{
    min-width: 320px;
  }

  .dancing-through-life-section img, .behind-the-screen-section img, .travel-section img, .recent-projects-section img, .about-intro-p{
    border-radius: 28px;
  }

  .skills-section img{
    border-radius: 28px 28px 0 0;
  }
}

@media(min-width:768px){
  body{
    font-size: 20px;
    line-height: 1.7rem;
  }


  .intro-img-1, .intro-img-2{
    max-width: 36%;
    
  }

  .intro-section{
    margin: 3em 2em;
    gap: 2em;
  }

  .orange-title{
    font-size: 2em;
    line-height: 3rem;
  }

  .subtitle{
    font-size: 1.5em;
  }

  .airplane-text-button{
    font-size: 1em;
  }

  .airplane-text-button img{
    max-width: 32px;
    max-height: 16px;
  }

  .recent-projects-section{
    padding-top: 4em;
    padding-bottom: 4rem;

  }

  .recent-projects-section h2{
    margin: 0 0 1em 1em;
  }

  .info-card, .info-card-overlay{
    max-width: 436px;
    border-radius: 32px;
  }

  .info-card-overlay{
    padding: 2rem;
  }

  .info-card-title{
    font-size: 1.5rem;
  }

  .info-card-tech-stack{
    font-size: 1rem;
    padding: 0.2rem 0;
  }

  .info-card-description{
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0.5rem 0;
  }

  .yellow-subtitle{
    font-size: 1.8em;
  }
  

  .about-me-section, .contact-me-section{
    flex-direction: row;
    gap: 1em;
  }

  .about-me-section{
   margin: 4em 2em;
  }

  .contact-me-section{
    padding:  4em 2em;
  }

  .orange-subtitle, .skills-title, .lets-chat-title{
    font-size: 1.8em;
  }

  .about-me-section-img, .contact-me-section-img{
    max-width: 30%;
  }

  .airplane-text-button{
    font-size: 1em;
  }

  .contact-me-section .airplane-text-button{
    font-size: 1em;
  }


  .cme-title{
    font-size: 1.2em;
    margin-left: 0;
  }

  .socials-container{
    margin-left: 0;
  }

  .cme-section{
    padding: 0;
    margin: 2em;
  }

  .behind-the-screen-section, .dancing-through-life-section, .travel-section, .record-and-music-section{
    align-items: center;
    margin: 1em 2em;
    gap: 1em;
  }

  .about-intro-section{
    margin: 6em 2em;
  }

  .about-intro-p{
    padding: 2em;
  }

  .skills-section{
    padding: 4em 2em 0;
  }

  .skills-section h3{
    font-size: 1.4em;
  }

  .skills-section h4{
    font-size: 1.2em;
  }

  .lets-chat{
    padding: 2em;
  }

  .lets-chat .airplane-text-button{
    font-size: 1em;
  }

  
  .my-journey-title{
    margin-top: 2em;
  }

  .construction-page{
    margin: 3em 2em;
  }

  .construction-img{
    max-width: 525px;
  }

  .construction-page .airplane-text-button{
    font-size: 1.25em;
  }

  .timeline-line{
    z-index: 0;
    left: -60px;
    top: 40px;
  }

  .project-intro-section, .website-dev-journey{
    margin: 4em 2em;
    gap: 2em;
  }

  .project-page-info-cards .info-card, .project-page-info-cards .info-card-overlay{
    max-width: 648px;
  }


}

@media(min-width:1024px){
  p{
    line-height: 1.8rem;
  }

  .intro-section{
   flex-direction: row;
   margin: 6% 4em;
   justify-content: flex-start;
   align-items: center;
   gap: 2em;
  
  }

  .intro-text{
    max-width:60%;
    justify-content: center;
  }

  .intro-buttons-container{
    flex-direction: row;
  }

  .intro-images{
    flex-direction: column;
    height: max-content;
    align-items: flex-end;
  }

  .intro-img-1, .intro-img-2{
    max-width: 70%;
  }

  .orange-title{
    font-size: 2.2em;
    line-height: 3.2rem;
  }

  .subtitle{
    font-size: 1.8em;
  }

  .yellow-subtitle{
    font-size: 2em;
  }

  .recent-projects-section h2{
    margin-left: 2em;
  }

  .project-info-cards{
    padding-left: 2em;
  }

  .about-me-section{
    margin: 5em 4em;
  }


   .contact-me-section{
    padding: 5em 4em;
  }

  .cme-section{
    padding-left: 4em;
  }

  .cme-title{
    font-size: 1.6em;
    margin-bottom: 1em;
  }

  .social-link-icon{
   max-width: 1.6em;
   margin-right: 0.25em;

  }

  .socials-container{
    gap: 1em;
  }

  .behind-the-screen-section{
    flex-direction: row;
    margin: 1em 4em;
  }

  .dancing-through-life-section, .travel-section, .record-and-music-section{
    flex-direction: row;
    margin: 5em 4em;
  }

  .dancing-through-life-images, .travel-images, .record-and-music-images{
    width: 70%;
  }

  .more-about-me-text, .dancing-through-life-text, .travel-text, .record-and-music-text{
    width: 85%;
  }

  .dthl-img-6{
    min-width: 220px;
  }

  .about-intro-section{
    margin: 4em 2em;
  }

  .about-img-1, .about-img-2, .about-img-3, .about-img-4, .about-img-5{
    max-width: 20%;
  }

  .lets-chat{
    padding: 3em 4em;
  }

  .lets-chat-buttons{
    gap: 1em;
  }

  .lets-chat-text-and-buttons{
    display: flex;
    gap: 2em;
  }

  .lets-chat p{
    width: 45%;
  }

  .my-skills{
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .design-skills-columns{
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .design-skills-columns h4{
    margin-top: 0;
  }

  .skills-section img{
    max-height: 200px;
    min-width: 900px;
  }

  .skills-section{
    padding: 4em 4em 0;
  }

  .my-skills{
    gap: 4em;
  }

  .construction-img{
    max-width: 400px;
  }

  .construction-page{
    margin: 2em 4em;
  }


  .timeline-line{
    z-index: 0;
    left: -60px;
    top: 70px;
  }

  .about-img-3, .about-img-4, .about-img-5{
    display: block;
  }

  .project-intro-section{
    flex-direction: row;
    margin: 7em 5em;
    gap: 3em;
  }

  .project-intro-img{
    max-width: 30%;
    transform: rotate(-5deg);
  }

  .project-page-info-cards, .website-dev-journey{
    margin: 2em 5em;
    gap: 2em;
  }

  .projects-row-1, .projects-row-2, .projects-row-3, .projects-row-4{
    flex-direction: row;
    gap: 2em;
  }

  .project-page-info-cards .info-card, .project-page-info-cards .info-card-overlay{
    max-width: 600px;
  }

}



@media(min-width: 1440px){

  .orange-title{
    font-size: 3.2em;
    line-height: 4.6rem;
  }

  .intro-section h1, .intro-section h2{
    margin-bottom: .5em;
  }

  .subtitle, .skills-title, .lets-chat-title{
    font-size: 2.2em;
  }
  .intro-section{
    margin: 9.8% 6em;
    gap: 0;
  }

  .intro-text{
    max-width: 62%;
  }

  .intro-p{
    width: 80%;
  }

  .intro-img-1, .intro-img-2{
    max-width: 75%;
  }

  .info-card{
    max-width: 532px;
  }

  .info-card-overlay{
    max-width: 532px;
    padding: 2em;
  }

  .info-card-tech-stack{
    font-size: 1em;
    margin-top: 0.5rem;
  }

  .info-card-description{
    font-size: 1em;
    line-height: 1.6rem;
  }

  .info-card-title{
    font-size: 1.5em;
  }

  .yellow-subtitle{
    font-size: 3em;
  }

  .recent-projects-section{
    padding-top: 5em;
    padding-bottom: 5em;
  }


  .project-info-cards{
    padding-left: 3em;
    gap:3em;
  }

  .orange-subtitle{
    font-size: 3em;
    margin-bottom: 0.5em;
  }

  .contact-me-section, .about-me-section{
    gap: 3em;
  }


  .about-me-section{
    padding: 0;
    margin:7em 6em ;
  }

   .contact-me-section{
   padding: 5em 6em;
  
  }

  .about-me-section p, .contact-me-section p{
    width: 85%;
    margin-bottom: 1em;
  }

  .contact-me-section h2{
    margin-bottom: 0.5em;
  }

  .cme-title{
    font-size: 2em;
  }

  .cme-section{
    padding: 0;
    margin: 4em 6em;
  }

  .socials-container{
    gap: 1.5em;
  }

  .behind-the-screen-section{
    margin: 3em 6em;
    gap: 2em;
  }

  .dancing-through-life-section, .travel-section, .record-and-music-section{
    margin: 5em 6em;
    gap: 2em;
  }

  .about-intro-section{
    margin: 3em 6em;
  }

  .about-intro-p{
    padding: 3em;
  }

  .about-img-1, .about-img-2, .about-img-3, .about-img-4, .about-img-5{
    max-width: 15%;
  }

  .skills-title{
    margin-bottom: 0.5em;
  }

  .skills-section{
    padding: 4em 6em 0;
  }

  .skills-section h3{
    font-size: 1.6em;
  }

  .skills-section h4{
    font-size: 1.4em;
  }

  .lets-chat{
    padding: 3em 6em;
  }

  .construction-page{
    margin: 2em 6em;
  }

  .project-intro-section{
    margin: 8em 6em;
   gap: 8em;
  }
  .project-intro-text{
    gap: 0.5em;
    max-width: 55%;
  }

  .project-page-info-cards .info-card, .project-page-info-cards .info-card-overlay{
    max-width: 724px;
  }
}

@media(min-width:1512px){
  .intro-section{
    margin: 4% 6em;
    gap: 2em;
  }
}



@media(min-width: 1728px){
  .intro-section{
    margin: 10% 6em;
    gap: 0;
  }

  .intro-img-1, .intro-img-2{
    max-width: 90%;
  }

  .recent-projects-section h2{
    margin-left: 3em;
  }

  .project-info-cards{
    padding-left: 4em;
  }

  .about-me-section{
    margin: 9em 8em;
  }

  .contact-me-section{
    padding: 6em 8em;
  }

  .cme-section{
    margin-left: 8em;
  }

  .behind-the-screen-section{
    margin: 3em 8em;
  }

  .dancing-through-life-section, .travel-section, .record-and-music-section{
    margin: 6em 8em;
  }

  .about-intro-section{
    margin: 6em 8em;
  }

  .skills-section{
    padding: 6em 8em 0;
  }

  .lets-chat{
    padding: 3em 8em;
  }

  .construction-page{
    margin: 8em 8em;
  }

  .project-intro-section{
    margin: 14em 8em;
    gap: 12em;
  }

  .project-page-info-cards .info-card, .project-page-info-cards .info-card-overlay{
    max-width: 864px;
  }


}

@media(min-width: 2200px){
  .intro-section{
    margin: 6% 36em;
  }

  .intro-img-1, .intro-img-2{
    max-width: 100%;
  }

  .intro-text p{
    max-width: 70%;
  }


  .about-me-section p{
    max-width: 70%;
  }

  .contact-me-section, .skills-section, .lets-chat{
    padding-left: 36em;
    padding-right: 36em;
  }

  .contact-me-section p{
    max-width: 75%;
  }

 .about-me-section, .behind-the-screen-section, .dancing-through-life-section, .travel-section, .record-and-music-section, .about-intro-section, .cme, .project-intro-section, .project-page-info-cards{
    margin-left: 36em;
    margin-right: 36em;
  }

  .construction-page{
    margin: 13em 32em;
  }

  .project-intro-section{
    gap: 7em;
  }

  .project-intro-text{
    max-width: 100%;
  }


}